*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Arial', sans-serif;
}

div {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

div img {
    width: 90%;
}

div p {
    opacity: 0.75;
}

div a {
    text-decoration: none;
    color: black;
    opacity: 0.6;
}

div a:hover {
    text-decoration: underline;
}