*,
::before,
::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'GothamBold';
    src: url('../font/Gotham-Bold.otf') format('opentype');
}

@font-face {
    font-family: GothamBook;
    src: url('../font/GothamBook.ttf') format('opentype');
}

html {
    font-family: 'GothamBook', sans-serif;
    background-color: #F4F4F4;
}

section {
    width: 100vw;
    height: 100vh;
}

.container {
    max-width: 1044px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
}

/* .carousel {
    display: block;
    text-align: left;
    position: relative;
    margin-bottom: 22px;

    background-color: red;
} */

.carousel>input {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

.carousel>input:nth-of-type(4):checked~.carousel__slides .carousel__slide:first-of-type {
    margin-left: -300%;
}

.carousel>input:nth-of-type(3):checked~.carousel__slides .carousel__slide:first-of-type {
    margin-left: -200%;
}

.carousel>input:nth-of-type(2):checked~.carousel__slides .carousel__slide:first-of-type {
    margin-left: -100%;
}

.carousel>input:nth-of-type(1):checked~.carousel__slides .carousel__slide:first-of-type {
    margin-left: 0%;
}

.carousel>input:nth-of-type(1):checked~.carousel__thumbnails li:nth-of-type(1) {
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}

.carousel>input:nth-of-type(2):checked~.carousel__thumbnails li:nth-of-type(2) {
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}

.carousel>input:nth-of-type(3):checked~.carousel__thumbnails li:nth-of-type(3) {
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}

.carousel>input:nth-of-type(4):checked~.carousel__thumbnails li:nth-of-type(4) {
    box-shadow: 0px 0px 0px 5px rgba(0, 0, 255, 0.5);
}

.carousel__slides {
    overflow: hidden;
    display: flex;
}

.carousel__slide {
    position: relative;
    display: block;
    flex: 1 0 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 300ms ease-out;
    vertical-align: top;
    box-sizing: border-box;
    white-space: normal;
}

.carousel__slide figure {
    display: flex;
    margin: 0;
}

.carousel__slide div {
    position: relative;
    width: 100%;
}

.carousel__slide div:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 66.6666666667%;
}

.carousel__slide div>img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.carousel__slide img {
    display: block;
    flex: 1 1 auto;
    object-fit: cover;
}

.carousel__slide h4 {
    opacity: 0.6;
}

.carousel__slide figcaption {
    align-self: flex-end;
    padding: 20px 20px 0 20px;
    flex: 0 0 auto;
    width: 25%;
    min-width: 150px;
}

.carousel__slide figcaption h1 {
    font-family: "GothamBold", sans-serif;
}

.carousel__slide a {
    margin-top: 1rem;
    color: rgba(0, 0, 0, 0.5);
    display: block;
    text-decoration: none;
}

.carousel__slide a:hover {
    text-decoration: underline;
}

.carousel__slide.scrollable {
    overflow-y: scroll;
}

.carousel__thumbnails {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin: 0 -10px;
}

.carousel__slides+.carousel__thumbnails {
    margin-top: 20px;
}

.carousel__thumbnails li {
    flex: 1 1 auto;
    max-width: calc((100% / 6) - 0px);
    margin: 0 10px;
    transition: all 300ms ease-in-out;
}

.carousel__thumbnails label {
    display: block;
    position: relative;
}

.carousel__thumbnails label:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 100%;
}

.carousel__thumbnails label>img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.carousel__thumbnails label:hover,
.carousel__thumbnails label:focus {
    cursor: pointer;
}

.carousel__thumbnails label:hover img,
.carousel__thumbnails label:focus img {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
    transition: all 300ms ease-in-out;
}

.carousel__thumbnails img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel__thumbnails li p {
    font-family: "GothamBold", sans-serif;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 900px) {
    .carousel__slide figure {
        display: block;
        /* flex-direction: column; */
    }

    .carousel__slide figcaption {
        align-self: center;
        width: 75%;
        text-align: center;
    }

    .carousel__thumbnails {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        margin: 0 -10px;
        justify-content: space-evenly;
    }
}

@media screen and (max-width: 690px) {

    .carousel__slide div {
        position: relative;
        width: 100%;
        margin-top: 350px;
    }

    .carousel__thumbnails {
        display: flex;
        flex-direction: column;
    }

    .carousel__thumbnails li {
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        margin: 20px 0;
    }

}

.paragraphe {
    font-size: 16px;
    opacity: 0.6;
}